<section id="content-wrap" class="blog-single">
  <div class="row">
    <div class="col-twelve">

      <article class="format-standard">


        <div class="primary-content">

          <h1 class="page-title">{{title}}</h1>

          <ul class="entry-meta">
            <li class="cat"><a href="">{{category}}</a></li>
          </ul>

          <p class="lead">{{content}}</p>

          <ul class="entry-meta">
            <li class="cat"><a href="">author : {{user}}</a></li>
          </ul>
          </div>


      </article>

    </div> <!-- end row comments -->
  </div> <!-- end comments-wrap -->

</section> <!-- end content -->
