<section id="content-wrap" class="site-page">
  <div class="row">
    <div class="col-twelve">

      <section>



        <fieldset>

          <div class="form-field">
            <input  type="text" class="full-width" placeholder="Your Name" value="" [(ngModel)]="pseudo">
          </div>

          <div class="form-field">
            <input [(ngModel)]="password" type="password" id="cWebsite" class="full-width" placeholder="Your Password"  value="">
          </div>

          <button (click)="onClick($event)" type="submit" class="submit button-primary full-width-on-mobile">Log-in</button>

        </fieldset>


      </section>


    </div> <!-- end col-twelve -->
  </div> <!-- end row -->
</section> <!-- end content -->
