<section id="content-wrap" class="site-page">
  <div class="row">
    <div class="col-twelve">

      <section>



          <fieldset *ngIf="!success">

            <div class="form-field">
              <input  type="text" class="full-width" placeholder="Your Name" value="" [(ngModel)]="pseudo">
            </div>

            <div class="form-field">
              <input [(ngModel)]="email" type="text" id="cEmail" class="full-width" placeholder="Your Email" value="">
            </div>

            <div class="form-field">
              <input [(ngModel)]="password" type="password" id="cWebsite" class="full-width" placeholder="Your Password"  value="">
            </div>

            <button (click)="onClick($event)" type="submit" class="submit button-primary full-width-on-mobile">Submit</button>

          </fieldset>

        <div *ngIf="success">
          <p class="lead">sign-up successfully </p>
          <p class="lead">You can access to your account !</p>
        </div>


      </section>


    </div> <!-- end col-twelve -->
  </div> <!-- end row -->
</section> <!-- end content -->
