<!-- Add icon library -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<br><br><br>
<div class="card">
  <div  style="width:100%"></div>
  <br><br>
  <h1>Hello {{pseudo}}</h1>
  <p class="title">{{email}}</p>
  <p>Your articles : {{articles.length}}</p>

  <div *ngFor="let article of articles">
    <a routerLink="/article" [queryParams]="article">
        <div class="entry-thumb">
          <blockquote>
            <p>{{article.title}}</p>
          </blockquote>
        </div>
    </a>
  </div>

  <a href="#"><i class="fa fa-dribbble"></i></a>
  <a href="#"><i class="fa fa-twitter"></i></a>
  <a href="#"><i class="fa fa-linkedin"></i></a>
  <a href="#"><i class="fa fa-facebook"></i></a>
  <p><button></button></p>
</div> 
