<section id="content-wrap" class="site-page">
  <div class="row">
    <div class="col-twelve">

      <section>



        <fieldset *ngIf="!success">

          <div class="form-field">
            <input  type="text" class="full-width" placeholder="Title" value="" [(ngModel)]="title">
          </div>

          <div class="form-field">
            <input [(ngModel)]="category" type="text" class="full-width" placeholder="Category" value="">
          </div>

          <div class="form-field">
            <textarea [(ngModel)]="article"  class="full-width" placeholder="Your Article"  value=""></textarea>
          </div>

          <button (click)="onClick($event)" type="submit" class="submit button-primary full-width-on-mobile">Submit</button>

        </fieldset>

        <div *ngIf="success">
          <p class="lead">Article Added with success !</p>
        </div>


      </section>


    </div> <!-- end col-twelve -->
  </div> <!-- end row -->
</section> <!-- end content -->
