<section id="bricks">



  <div class="row masonry">

    <!-- brick-wrapper -->
    <nav id="main-nav-wrap">
      <ul class="main-navigation sf-menu">
        <li><input  type="text" class="small-width" value="" [(ngModel)]="search"></li>
        <li><button (click)="onClickSearch($event)" type="submit" class="submit button-primary full-width-on-mobile">Search</button></li>
      </ul>
    </nav>
    <br><br><br>

    <div class="bricks-wrapper">


       <div *ngFor="let article of articles">
         <a routerLink="article" [queryParams]="article">
          <article  class="brick entry format-quote animate-this" >

            <div class="entry-thumb">
              <blockquote>
                <p>{{article.title}}</p>

                <cite>{{article.category}}</cite>
              </blockquote>
            </div>

          </article> <!-- end article -->
         </a>
      </div>



    </div> <!-- end brick-wrapper -->

  </div> <!-- end row -->


</section> <!-- end bricks -->
